* {
    box-sizing: border-box;
    outline: none;

}

// ::selection {
//     background-color: $clr1;
// }


body {
    font-size: rem(16px);
    margin: 0;
    margin: auto;
    // position: relative;
    min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 64px;
    line-height: 56px;

    &.large {
        font-size: 100px;
        line-height: 100px;
    }
}

h2 {
    font-size: 48px;
    line-height: 48px;
}

h3 {
    font-size: 18px;
    line-height: 28px;
}


section,
main,
footer {
    padding: 0;
}

img {
    width: 100%;
}

p {
    font-size: 15px;
    line-height: 25px;

    &.large {
        font-size: 18px;
        line-height: 28px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    // text-decoration: underline;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    .app-main-container {
        flex-grow: 1;

        // max-width: 1500px;
        margin: 0;
        padding: 0;

    }
}


button {
    &.primary {
        @include btn($type: primary);
    }

    &.secondary {
        @include btn($type: secondary);
    }
}